
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title bold" id="clock">
        @*Dashboard <small class="text-lowercase"></small>*@
    </h3>
    @*<div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a asp-action="Dashboard" asp-controller="Home">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ul>
        </div>*@
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-3">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-building"></i>
                </div>
                <div class="details">
                    <div class="number">@ViewBag.TotalFlats</div>
                    <div class="desc">Total Flats</div>
                </div>
                <a class="more" href="/Flats/Index">
                    View More
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-building"></i>
                </div>
                <div class="details">
                    <div class="number">@(ViewBag.TotalFlats - ViewBag.AllocatedFlats)</div>
                    <div class="desc">Free Flats</div>
                </div>
                <a class="more" href="/Flats/Index">
                    View More
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-building"></i>
                </div>
                <div class="details">
                    <div class="number">@ViewBag.AllocatedFlats</div>
                    <div class="desc">Allocated Flats</div>
                </div>
                <a class="more" href="/Flats/Index">
                    View More
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-stat purple-plum">
                <div class="visual">
                    <i class="fa fa-users"></i>
                </div>
                <div class="details">
                    <div class="number">@ViewBag.TotalResidents</div>
                    <div class="desc">Total Residents</div>
                </div>
                <a class="more" href="/Residents/Index">
                    View More
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var myVar = setInterval(myTimer, 1000);

        function myTimer() {
            var d = new Date();
            var t = d.toLocaleString();
            document.getElementById("clock").innerHTML = t;
        }
    </script>
}
